:root{
    --mainBackgroundColor: #222423;
    --mainTextColor: #ffffff;
    --customGreen: #00A693;
}

.bg-green{
    background-color: var(--customGreen) !important;
}
.text-green{
    color: var(--customGreen) !important;
}