@import url(color.css);
@import url(font.css);
:root{
    --mainFont: pinar;
}
*{
    font-family: var(--mainFont);
    color: var(--mainTextColor) !important;
}

body{
    background-color: var(--mainBackgroundColor);
    direction: rtl;
    background-image: url(../../public/images/backgrounds/MapChart_Map1-1.svg), url(../../public/images/backgrounds/MapChart_Map1-2.svg);
}

.header{
    height: 73px;
}

.bg-custom-rtl{
    background: linear-gradient(200deg, #242726 6.67%, rgba(36, 39, 38, 0) 74.33%);
    &::before{
        content: "";
        position: absolute;
        background-image: linear-gradient(-89.43deg, rgba(255, 255, 255, 0.11) 1.19%, rgba(255, 255, 255, 0) 36.37%);
        top: -1.83px;
        left: -1.83px;
        bottom: -1.83px;
        right: -1.83px;
        border-radius: inherit;
        z-index: -1;
    }
}
.bg-custom-ltr{
    background: linear-gradient(-200deg, #242726 6.67%, rgba(36, 39, 38, 0) 74.33%);
    border: solid 1.83px transparent;
    &::before{
        content: "";
        position: absolute;
        background-image: linear-gradient(89.43deg, rgba(255, 255, 255, 0.11) 1.19%, rgba(255, 255, 255, 0) 36.37%);
        top: -1.83px;
        left: -1.83px;
        bottom: -1.83px;
        right: -1.83px;
        border-radius: inherit;
        z-index: -1;
    }
}
.timer-box{
    width: 90.5px;
    aspect-ratio: 1;
    background: linear-gradient(137.79deg, #242726 6.83%, rgba(36, 39, 38, 0) 99.67%);
}
.datetime-box{
    height: 125px;
}
.btn-box{
    height: 92px;
    & button{
        border: none !important;
    }
}

.sidebar-item{
    height: 52.75px;
    color: var(--sidebar-item);
    cursor: pointer;
    & img{
        width: 30px;
        aspect-ratio: 1;
    }
    &.active{
        background-color: var(--customGreen);
        color: var(--mainTextColor);
        box-shadow: 0px 4px 4px 0px #00000040;
        cursor: default;
    }
    &.active svg path{
        fill: var(--mainTextColor);
    }
}
.px-4_5{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}